<p style="color: green"><%= notice %></p>

<h1>Search Flights</h1>

<%= render 'search_form' %>

<div class="flight-results">
  <% if @booking_options %>
    <p class="sub-title">Available Flights:</p>
    <%= render 'results_form' %>
  <% else %>
    <p class="results-placeholder">Choose flight options to see the available flights.</p>
  <% end %>
</div>
