<div class="section">
  <div class="container" id="flight-layout">

    <%= render 'search_form' %>

    <div class="container" id="available-flights">
      <% if @booking_options %>
        <p class="sub-title">Available Flights:</p>
        <%= render 'results_form' %>
      <% else %>
      <div class="card" id="choose-flight">
        <p class="subtitle">Choose flight options to see available flights.</p>
      </div>  
      <% end %>
    </div>
  </div>
</div>
